<h1>M A D L I B</h1>
<h2>The order is adjective, noun, verb, adverb</h2>

<h2>Adjective: <%= @adj %></h2>
<h2>Noun: <%= @noun%></h2>
<h2>Verb: <%= @verb%></h2>
<h2>Adverb: <%= @adverb%></h2>

<h1> <%= @display %></h1>